<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="cn.git.core.dao.UserDao">
	<insert id="addUser" parameterType="cn.git.core.bean.User">
		insert into user(username,address)
		values(#{username},#{address})
	</insert>
    
</mapper>